.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    &__title {
        @include font(4rem, rgba(0, 0, 0, 0), 400, $logo-ff, 7.3rem);
        margin: auto;
        // mix-blend-mode: soft-light;
        -webkit-text-stroke-width: .1px;
        -webkit-text-stroke-color: $cover-color;
    }
}

.socials {
    padding: 0;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    &__item {
        display: inline-block;
        margin: 0 .2rem;
    }

    &__link {
        display: flex;
        color: $j-color;
        font-size: 1.2em;
        height: 30px;
        width: 30px;
        line-height: 30px;
        border: 2px solid $c-color;
        border-radius: 50%;
        // opacity: .6;
        align-items: center;
        justify-content: center;
        background-color: $c-color;

        @include hover {
            color: $c-color;
            background-color: transparent;
        }
    }
}