.slider {
    position: relative;
    // &__slide {}
    &__arrow {
        cursor: pointer;
        position: absolute;
        top: 0;
        bottom: 0;
        padding: 20px;
        font-size: 2em;
        color: $b-color;
        background-color: transparent;
        border: 0;
        &--left {
            left: 0;
        }
        &--right {
            right: 0;
        }
        @include hover {
            font-size: 2.5em;
        }
    }
    &__dots {
        padding: 0;
        margin: 0;
        text-align: center;
    }
    &__dot {
        display: inline-block;
        font-size: 0;
        vertical-align: middle;
    }
    &__dot-btn {
        cursor: pointer;
        width: 13px;
        height: 13px;
        line-height: 13px;
        border: $b-size solid #fff;
        background-color: $b-color;
        padding: 0;
        border-radius: 50%;

        @include hover {
            background-color: #fff;
            border-color: $b-color;
        }
        .slider__dot--active & {
            background-color: #fff;
            border-color: $b-color;
        }
    }
}

.profile {
    // outline: 1px solid blue;
    display: flex;
    margin: 25px 0;
    &__part {
        // outline: 1px solid red;
        flex-basis: 50%;
        padding: 85px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        & + & {
            border-left: $b-size solid $b-color;
        }
    }
    
    &__img-wrap {
        // outline: 1px solid green;
        padding: 10px;
        font-size: 0;
        position: relative;
        border: $b-size solid $b-color;

        &:before,
        &:after {
            content: "";
            width: 50%;
            height: 102%;
            background-color: #fff;
            @include pCenter();   
        }

        &:before {
            width: 102%;
            height: 50%;
        }

        }
    

    &__img {
        width: 100%;
        border: $b-size solid $b-color;
        position: relative;
        z-index: 1;
    }

    &__name {
        @include font(3.6rem, $title-color, 900, $page-ff, 1.1);
        margin: 0;

        &:after {
            content: "";
            display: block;
            width: 100px;
            margin: 25px auto 0 auto;
            border-top: $b-size solid $b-color;
        }
    }

    &__pos {
        @include font(2.4rem, $title-color, 400, $page-ff, 1.1);
        opacity: .8;
        margin: 25px 0 14px;
    }

    &__text {
        text-align: center;
        margin-bottom: 25px;

        &:after {
            content: "";
            display: block;
            width: 50px;
            height: 4px;
            background-image: linear-gradient(to right, $b-color 0, $b-color 20%,  transparent 20%, transparent 30%, $b-color 30%,  $b-color 70%, transparent 70%,  transparent 80%, $b-color 80%,  $b-color 100%);
            margin: 15px auto 0;
        }
    }
}
