@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,400,700,900&display=swap');


$a-color: #e4c7ad;
$b-color: #49312b;
$c-color: #243d48;
$d-color: #953014;
$e-color: #afa5a0;
$f-color: #9b5841;
$g-color: #fef3d4;
$h-color: #895d49;
$i-color: #efb38d;
$j-color: #fff;

$text-color: #262626;
$title-color: rgb(0, 0, 0);
$social-color: rgb(255, 245, 160);


$b-size: 1px;

$page-ff: 'Raleway', sans-serif;
$logo-ff: 'Pacifico', sans-serif;