@import 'normalize';

@import 'variables';

@import 'mixins';


* {
    box-sizing: border-box;
    outline: none;
    @include tr;
}
html {
    min-height: 100%;
    font-size: 10px;
    scroll-behavior: smooth;
}

a,
button {
    transition: all .25s ease-in-out;
    text-decoration: none;
}

body {
    min-height: 100%;
    // overflow: hidden;
    @include font(1.4rem, $text-color, 300, $page-ff, 1.8);
    // background-color: #fff;
    background-image: linear-gradient($a-color, $g-color);
    background-repeat: no-repeat;
}

.container {
    // max-width: 1140px;
    padding: 0 3vw;
}

.page {
    // display: none;
    width: 96vw;
    height: 90vh;
    margin:2vh auto;
    background: $g-color;
    box-shadow: .1rem .1rem .5rem 0 $b-color;
    border-radius: .3rem;
    overflow: hidden;
}

.section {
    // box-sizing: content-box;
    transform-style: flat;
    min-height: 100vh;
    overflow: hidden;
    box-shadow: 0 0 0 1px $cover-color;
}


@import 'hero';

@import 'jobs';

@import 'education';

@import 'nav';

@import 'touch';

