.nav {
    // outline: 1px solid red;
    display: block;
    position: fixed;
    z-index: 1;
    // transform-origin: right;
    right: 0;


    &__bg {
        // outline: .1px solid yellow;
        position: absolute;
        margin: 0;
        padding: 0;
        top: 58.6%;
        left: -2px;
        // top: 50%;
        height: 860px;
        width: 838px;

        transform: translate(0, -50%) rotateY(180deg);
        
    }
    &__symbol {
        font-size: 4rem;
    }
    &__side-bar {
        use {
            // outline: .1px solid red;
            fill: #d1e8e21a;
            stroke: #d1e8e2;
            stroke-width: .1px;
        }
        
    }
    
    &__items {
        
        @include font(0rem, $text-color, 300, $page-ff, 1.6);
        @include flexbox;
        @include flex-wrap(wrap);
        @include justify-content(space-evenly);
        @include align-items(center);
        @include flex-direction(column);
        padding: 50px 7px 50px 5px;
        overflow: hidden;
        transform: translate(0, -50%);
        position: fixed;
        top: 50vh;
        right: -50px;
        z-index: 1;
    }

    &__item {
        @include font(1.7rem, $text-color, 700, $page-ff, 1.6);
        text-transform: uppercase;
        padding: 0 2px;
        margin: auto;
        overflow: hidden;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        min-width: auto;
        margin: 0;
        padding: 0;
        color: rgb(0, 0, 0);
        margin-top: 1.5rem;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.7);
        background: rgba(255, 246, 246, 0.623);
        border-radius: 25%;
        &:nth-child(2) {
            margin-top: 0;
        }
        position: relative;
        left: 2px;
        z-index: 3;
        // border: 3px solid #ff5f3300;
        @include hover {
            border-color: #ff6033;
        }

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            & {
                height: 50px;

                & svg, i{
                    transform: translate(0, -63%);
                }
            }
        }

        @supports (-ms-ime-align: auto) {
            & {
                height: 50px;

                & svg, i{
                    transform: translate(0, -63%);
                }
            }
        }
    }


    &__burger {
        @include flexbox;
        @include justify-content(space-around);
        @include align-items(center);
        outline: none;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        font-size: 2rem;
        background: rgba(0, 0, 0, 0);
        border: .1px solid $cover-color;
        position: absolute;
        z-index: 2;
        transform-origin: right;
        right: -1rem;
        top: 3.3rem;
        cursor: pointer;
        transform: translate(-50%, -50%) rotateZ(0deg);
        padding: 1rem;
        color: $cover-color;
        @include hover {
            // background-color: hsl(181, 71%, 24%);
        }
        & .menu {
            @include flexbox;
            @include flex-direction(column);
            @include justify-content(space-evenly);

            width: 20px;
            height: 20px;

            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                & {
                    //IE 10+
                    position: relative;
                    transform: translate(0, 50%);
                }
            }

            @supports (-ms-ime-align: auto) {
                & {
                    position: relative;
                    transform: translate(0, 50%);
                }
            }

            
            &__line {
                border-top: 3px solid $cover-color;
                width: 20px;
                position: absolute;
                left: 50%;
                
                &--top{
                    transform: translate(-50%, -350%);
                }

                &--mid{
                    transform: translate(-50%, -50%);
                }
                
                &--bot{
                    transform: translate(-50%, 250%);
                }
            }
        }
    }

    &__link {
        width: 50px;
        height: 50px;
        font-size: 40px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        display: none;
        display: flex;
        background-color: #ff5f3300;
        color: rgb(0, 0, 0);
    }
    
}


#nav:checked {
    & + .nav__burger {
        & .menu {
            &__line {
                width: 25px;
                transform: translate(-50%, -50%);
                
                &--top{
                    transform: translate(-50%, -50%) rotateZ(45deg);
                }

                &--mid{
                    transform: translate(-150%, -50%);
                    border-color: #d1e8e200;

                    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                        & {
                            transform: translate(-200%, -50%);
                        }
                    }

                    @supports (-ms-ime-align: auto) {
                        & {
                            transform: translate(-200%, -50%);
                        }
                    }
                }
                
                &--bot{
                    transform: translate(-50%, -50%) rotateZ(-45deg);
                }
            }
        }

        & + .nav__items {
            right: 0px;
        }
    }
}

@media screen and (max-width:768px) {
    .nav {
        display: block;
    }
}

@media screen and (max-height: 500px) and (orientation: landscape){

    .nav {
        display: block;
    

        
        &__items {
            right: 0px;
        }
    
        &__burger {
            display: none;
        }
    }

}

@media screen and (max-height: 400px){

    .nav {
      
        &__items{
            
            min-height: 100vh;
            padding: 0px 7px 0px 5px;
        }

        &__item {
            &:nth-child(6),
            &:nth-child(5){
                display: none;
            }
        }
    
    }

}
