.section--portfolio{
    text-align: center;
    // position: relative;
    // height: 100vh;
    background-color: #7f2f19;
    background-image: linear-gradient(315deg, #7f2f19 0%, #b46f47 74%);
    // overflow: hidden;
}


.portfolio-slider{
    font-family: $cards-ff;
    color: $add-color;
    user-select: none;
    position: absolute;
    transform-style: preserve-3d;
    // min-width: 300px;
    height: 100%;
    width: 100%;

    &>div{
        position: absolute;
    }
    

    &__slide{
        backface-visibility: hidden;
        margin: 20px;
        width: 300px;
        height: 420px;
        position: relative;
        background-color: #f6faff;
        background-image: 
        linear-gradient(315deg, #fdfcc5  0%, #fefff6 74%);
        display: inline-block;
        border: 1px solid #fff;
        box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.253);
        // perspective: 800px;

        @include hover{
            box-shadow: 0px 30px 10px -15px rgba(0, 0, 0, 0.507);
            transform: scale(1.1);

            & .portfolio-slider__tap-tap{
                opacity: 0;
            }
        }
    }

    &__tap-tap{
        position: absolute;
        bottom: 0;
        right: 0;
        transform: rotate(-20deg);
        opacity: .5;
    }
}
.portfolio-work{
    &__img-wrapper{
        // display: flex;
        position: relative;
        overflow: hidden;
        padding-top: 50%;

    }

    &__img{
        @include pCenter;
        height: 100%;

        &--w{
            height: auto;
            width: 100%;
        }
        
    }

    &__title{
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 0 10px;

        &--monticello{
            color: #7679fe;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.644);
        }

        &--tabs{
            color: #313a4b;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.644);
        }

        &--cahee{
            color: #000;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.644);
        }

        &--events{
            background-color: #565656;
            color: transparent;
            text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
        }
        

    }

    &__subtitle{
        color: #a87aff;
        text-align: left;
        padding: 0 10px;

        &--tabs{
            color: #0ca766;
        }

        &--cahee{
            color: #ff6033;
        }

        &--events{
            background-color: #565656;
            color: transparent;
            text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
        }

        
    }

    &__text{
        color: #27095f;
        text-align: left;
        padding: 0 10px;
    }

    &__list{
        color: #27095f;
        text-align: left;
        padding: 0 10px 0 30px;
    }
}


.scene{
    width: 340px;
    height: 460px;
    perspective: 1000px;
    position: relative;
    margin: auto;
    
}

.scene-box{
    display: flex;
    min-height: 100vh;
    // transform-style: preserve-3d;
}

.btn{
    &__portfolio{
        position: absolute;
        transform: translate(0%, -50%);
        left: 110%;
        height: 100%;
        width: 40px;
        top: 50%;
        background-color: rgba(0,0,0,0);
        cursor: pointer;
        border-color: #fff;
        border-width: 1px;
        padding: 0;
        padding-right: 3px;
        text-align: right;

        @include hover{
            background-color: rgba(53, 41, 48, 0.301);
        }

        &--left{
            padding-left: 3px;
            text-align: left;
            left: auto;
            right: 110%;
            & svg{
                transform: rotate(180deg);
            }
        }
    }
}

@media screen and (max-width:576px) {
    .btn{
        &__portfolio{
            transform: translate(0%, 0%);
            top: 103%;
            left: 55%;
            height: 40px;
    
            &--left{
                left: auto;
                right: 55%;
            }
        }
    }

}