@import 'lib/normalize';

@import 'lib/variables';

@import 'lib/mixins';


* {
    box-sizing: border-box;
    outline: none;
    @include tr;
}
html {
    min-height: 100%;
    font-size: 10px;
    scroll-behavior: smooth;
}

a,
button {
    transition: all .25s ease-in-out;
    text-decoration: none;
}

body {
    min-height: 100%;
    // overflow: hidden;
    @include font(1.4rem, $text-color, 300, $page-ff, 1.8);
    // background-color: #fff;
    background-image: linear-gradient($a-color, $g-color);
    background-repeat: no-repeat;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &::-webkit-scrollbar {
        width: 5px;
    }
    
    &::-webkit-scrollbar-track {
        box-shadow: none;
        border: none;
        background: rgb(0, 0, 0);
        border-left: .5px solid rgba(255, 255, 255, 0.8);
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: rgb(17, 95, 97);
        outline: none;
        border-left: .5px solid rgba(255, 255, 255, 0.8);
        transition: all .3s ease-in-out;
    }
}

.container {
    // max-width: 1140px;
    padding: 0 70px;
}

.page {
    // display: none;
    width: 96vw;
    height: 90vh;
    margin:2vh auto;
    background: $g-color;
    box-shadow: .1rem .1rem .5rem 0 $b-color;
    border-radius: .3rem;
    overflow: hidden;
}

.section {
    // box-sizing: content-box;
    transform-style: flat;
    min-height: 100vh;
    overflow: hidden;
    box-shadow: 0 0 0 1px $cover-color;
}


@import 'skills';

@import 'portfolio';

@import 'hero';

@import 'jobs';

@import 'education';

@import 'contacts';

@import 'nav';

@import 'touch';

